services:
  mq:
    image: rabbitmq:${RABBITMQ_TAG:-management}
    container_name: mov_mq
    pull_policy: daily
    profiles: [mov, all]
    hostname: ${MOV_MQ_HOST:-mq}
    ports:
      - ${MOV_MQ_PORT:-5672}:5672
      - ${MOV_MQ_UI_PORT:-8082}:15672
    networks:
      - nit_protocol_manager_net
    environment:
      RABBITMQ_DEFAULT_USER: ${MOV_MQ_USER:-mov}
      RABBITMQ_DEFAULT_PASS: ${MOV_MQ_PASSWORD:-password}
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q ping"]
      interval: 1m
      timeout: 10s
      retries: 5
      start_period: 1m
      start_interval: 5s

  mongo:
    image: mongo:${MONGODB_TAG:-latest}
    container_name: mov_db
    restart: unless-stopped
    pull_policy: daily
    profiles: [mov, all]
    hostname: ${MOV_DB_HOST:-mongo}
    ports:
      - ${MOV_DB_PORT:-27017}:27017
    networks:
      - nit_protocol_manager_net
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER:-root}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD:-password}
      MONGO_INITDB_DATABASE: ${MOV_DB_NAME:-movDB}
      MOV_DB_NAME: ${MOV_DB_NAME:-movDB}
      MOV_DB_USER_NAME: ${MOV_DB_USER_NAME:-mov}
      MOV_DB_USER_PASSWORD: ${MOV_DB_USER_PASSWORD:-password}
    volumes:
      - ${MONGO_LOCAL_DATA:-~/.mongo_data/patienttreatmentuiMovDB}:/data/db
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "mongosh --quiet localhost/${DB_NAME:-movDB} --eval 'quit(db.runCommand({ ping: 1 }).ok ? 0 : 2)'",
        ]
      interval: 1m
      timeout: 10s
      retries: 5
      start_period: 1m
      start_interval: 5s
    configs:
      - source: init-mongo.js
        target: /docker-entrypoint-initdb.d/init-mongo.js
  
  mov:
    image: valawai/mov:${MOV_TAG:-latest}
    container_name: mov
    profiles: [mov, all]
    depends_on:
      mongo:
        condition: service_healthy
        restart: true
      mq:
        condition: service_healthy
        restart: true
    ports:
      - ${MOV_UI_PORT:-8081}:8080
    networks:
      - nit_protocol_manager_net
    environment:
      RABBITMQ_HOST: ${MOV_MQ_HOST:-mq}
      RABBITMQ_PORT: ${MOV_MQ_PORT:-5672}
      RABBITMQ_USERNAME: ${MOV_MQ_USER:-mov}
      RABBITMQ_PASSWORD: ${MOV_MQ_PASSWORD:-password}
      QUARKUS_MONGODB_DATABASE: ${MOV_DB_NAME:-movDB}
      QUARKUS_MONGODB_CREDENTIALS_USERNAME: ${MOV_DB_USER_NAME:-mov}
      QUARKUS_MONGODB_CREDENTIALS_PASSWORD: ${MOV_DB_USER_PASSWORD:-password}
      QUARKUS_MONGODB_HOSTS: ${MOV_DB_HOST:-mongo}:${MOV_DB_PORT:-27017}
      MOV_URL: http://0.0.0.0:${MOV_UI_PORT:-8081}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s http://localhost:8080/q/health | grep -m 1 -P \"^[\\s|\\{|\\\"]+status[\\s|\\:|\\\"]+.+\\\"\" |grep -q \"\\\"UP\\\"\"",
        ]
      interval: 1m
      timeout: 10s
      retries: 5
      start_period: 1m
      start_interval: 5s


  nit_protocol_manager:
    image: valawai/c1_nit_protocol_manager:${C1_NIT_PROTOCOL_MANAGER_TAG:-latest}
    container_name: c1_nit_protocol_manager
    networks:  
      - nit_protocol_manager_net
    ports:
      - ${C1_NIT_PROTOCOL_MANAGER_PORT:-8080}:8080
    depends_on:
      mov:
        condition: service_healthy
        required: false
    environment:
      RABBITMQ_HOST: ${MOV_MQ_HOST:-mq}
      RABBITMQ_PORT: ${MOV_MQ_PORT:-5672}
      RABBITMQ_USERNAME: ${MOV_MQ_USER:-mov}
      RABBITMQ_PASSWORD: ${MOV_MQ_PASSWORD:-password}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -s http://localhost:8080/q/health | grep -m 1 -P \"^[\\s|\\{|\\\"]+status[\\s|\\:|\\\"]+.+\\\"\" |grep -q \"\\\"UP\\\"\"",
        ]
      interval: 1m
      timeout: 10s
      retries: 5
      start_period: 1m
      start_interval: 5s

networks:
  nit_protocol_manager_net:

configs:
  init-mongo.js:
    content: |
      db.createUser({
        user: process.env.MOV_DB_USER_NAME,
        pwd: process.env.MOV_DB_USER_PASSWORD,
        roles: [{
          role: 'readWrite',
          db: process.env.MOV_DB_NAME
        }]
      })
